/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #f5d104;
    background-color: #000;
    line-height: 1.6;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #111;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: url('asset/imagem-fundo.png') no-repeat center center/cover;
    background-size: cover;
    height: 200px;
    /* Ajuste a altura conforme necessário */
    animation: backgroundMove 30s infinite linear;
}

@keyframes backgroundMove {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 100%;
    }
}

.header .logo img {
    width: 180px;
    /* Aumente o tamanho do logo */
}

.nav {
    display: flex;
    justify-content: center;
    flex: 1;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.nav a:hover {
    color: gold;
    border-bottom: 2px solid gold;
    border-radius: 5px;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('asset/Vo.png');
    /* Caminho para sua imagem */
    background-size: cover;
    /* Ajusta a imagem para cobrir toda a área da seção */
    background-position: center;
    /* Centraliza a imagem */
    background-attachment: fixed;
    /* A imagem de fundo ficará fixa ao rolar */
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #ffd901;
    /* Ajusta a cor do título para ficar visível */
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #060606;
    /* Ajusta a cor do texto */
}

.btn {
    padding: 0.8rem 1.5rem;
    background: gold;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.products {
    padding: 2rem;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.product-card {
    background: #222;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px gold;
}

.product-card img {
    max-width: 100%;
    border-radius: 10px;
}

.product-card .add-to-cart {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: gold;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.product-card .add-to-cart:hover {
    background: #ffcc00;
}

.about,
.contact {
    padding: 2rem;
    text-align: center;
}

.footer {
    text-align: center;
    padding: 1rem;
    background: #111;
    color: #fff;
}
